@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
/* ROOT VARIABLES */
:root {
    font-family: 'Habibi', serif;
    font-size: 1em;

    --Green: #06A816;
    --Orange: #E75D02;
    --Black: #000000;
    --White: #ffffff;
    
}

h1, h2, h3 {
    font-family: 'Irish Grover', cursive;
}

h1 {
  color: var(--White);
    size: 4em;
    text-shadow: 2px 2px #000000;


}

h2 {
    font-weight: normal;
    size: 1.75em;
}

h3, p {
    font-weight: normal;
    text-align: center;
    size: 1.25em;
}
h3{
  margin: 10px;
}

header p{
  font-style: italic;
  text-shadow: 1px 1px #000000;

}



footer {

    background-color: var(--Green);
    margin-bottom: 60px;
    color: var(--White);
}



header{
  display: grid;
  grid-template-columns: 1fr;
}
header > h1{
  background-color: var(--Green);
  padding: 10px 0px 5px 0px;
  text-align: center;

}
header > p{
  color: var(--White);
  background-color: var(--Green);
  padding: 5px 0px 10px 0px;
  text-align: center;

}


a{
  text-decoration: none;
  color: var(--White);

}
nav ul{ 
  margin:20px 0px 20px 0px;
  display:grid;
  grid-template-columns:1fr ;
}
nav ul li:nth-child(-n+2){
  background-color: var(--Orange);

  list-style: none;
  text-align:center;
  border:2px solid var(--White);
  border-radius: 5px;
  font-weight:normal;
  margin: 5px 70px 5px 70px;
  padding:10px;
  
}


nav ul li:last-child {
  position: fixed;
  padding: 20px;
  bottom: 10px;  
  right: 10px;   
  background-color: var(--Orange);
  border:2px solid var(--White);
  border-radius: 5px;



  list-style: none;


}

main { 
  margin: 0px 10px 0px 10px;
}

h2, section p:first-of-type{ 

  text-align: left;
  margin: 10px;
}

main ul{
  display: grid;
  grid-template-columns: 1fr;


}
main ul li{
  margin: 0 auto;
  margin-bottom: 20px;
  list-style: none;
}

img { 
  width: 100%;
  height: 100%;

}

main ul li p{
  place-self: center;
  position: relative;
  bottom: 225px;
  color: var(--White);
  font-size: 1.25rem;
  background-color: rgba(0,0,0,.7);
  padding: 10px 10px 10px 10px;
}

footer{
  margin: 20px 0px 20px 0px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

footer * {
  margin: 5px;
}
footer h2{
  text-align: center;
}
footer small{
  width:100%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--White);
  margin: 0 auto;
  text-align: center;
  color: #06A816;
}

@media screen and (min-width:428px) { 

}

@media screen and (min-width:834px) { 
  main ul{
    grid-template-columns: 1fr 1fr;
  }
  header{ 
     grid-template-columns: 1fr 1fr;
  }
  nav ul{
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
  }


}

@media screen and (min-width:1280px) { 

}
@media screen and (min-width:1440px) { 

}

/* 
 

    Small- min-width: 428px
Medium- min-width: 834px
Large- min-width: 1280px
XL- min-width: 1440px